* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}

/* =====================Side navigation Bar========================= */


.Administrator {

  width: 83.7%;
  height: 70px;
  position: absolute;
  left: 380px;
  top: 0;
  background-color: #dcd8d9;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
  justify-content: center;
  font-weight: 700;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 16.4%;
  height: 100%;
  background-image: url("/images/Screenshot_train.png");
  font-family: 'Francois One', sans-serif;

}

span .IMAGINE {
  color: aqua;
}

.sidebar header {

  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  /* background: black; */
  user-select: none;
}

.LOGO_ADMIN {
  font-family: 'Courgette', cursive;
}


.sidebar .DATE {
  background: rgba(47, 59, 65, 1);
  line-height: 50px;
}

.sidebar .SUPPORT_STAFF {
  margin-top: 50px;
  margin-bottom: 55px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  line-height: 55px;


}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  margin-bottom: 25px;


}

/* ========Buttons color============= */

.Home {
  background-color: rgba(62, 147, 195, 1);
}

.Feedback {
  background-color: rgba(47, 59, 65, 1);
}

.Route {
  background-color: rgba(47, 59, 65, 1);
}
.Train_List{
  background-color: rgba(47, 59, 65, 1);
}
.Schedule_List {
  background-color: rgba(47, 59, 65, 1);
}

.Reservation_List{
  background-color: rgba(47, 59, 65, 1);
}
.Users {
  background-color: rgba(47, 59, 65, 1);
}

.Logout {
  background-color: rgba(47, 59, 65, 1);
}


/* ========Buttons hover color============= */

.sidebar ul li :hover {

  background-color: rgba(62, 147, 195, 1);
}
.blue-bar {
    background-color: rgb(0, 162, 255);/*blue bar color*/
    color: white;/*train list text color*/
    margin:250px 380px;
    width:1909px;
    padding:10px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 150px;
    
  }
  
  .Route-list {
    text-align: left;/*Train list text align*/
    font-size: 30px;
  }
  
 .add-new-Route {
     margin-left:1550px; /*add new Route button align*/
     width: 300px;
     height:35px;
     font-size: 30px;
  }
  .search-bar{
    margin-top: 20px;
    margin-left:1800px;
    font-size: 30px; 
  }
  input{
    height: 40px;
    width: 500px;
    font-size: 30px;
  }
 
  table {
    margin-top: 100px;
    margin-left:500px;
    width: 75%;
    border-collapse: separate;/* border  separated */
    
  }
  .content-table  {
    margin-left: 1800;/*table align*/
  }
  .content-table thead tr{
    background-color:rgba(160, 160, 159, 0.466);
    color: rgb(12, 12, 12);
    
  }

  th, td {
    border: 1px solid black;
    padding: 40px;
    font-size: 30px;
    text-align: center;
  }

  .content-table tbody tr:nth-of-type(even)
 {
   background-color: rgba(160, 160, 159, 0.466);
 }
 
 .id1
 {
   background-color: rgb(98, 167, 241);
   width: 100px;
   height: 50px;
   border-radius: 3rem;
   font-size: 30px;
   
 }
 .id2
 {
   background-color: rgb(224, 97, 127);
   width: 100px;
   height: 50px;
   border-radius: 3rem;
   font-size: 30px;
   
 }
 
  