#logo{
    height: 60px;
    width : 60px;
}

header{
    background-image: url(../images/Main_banner.jpg);
    background-position-y:65%;
}

#navigate > a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-left: 50px;

}
#navigate{
    position: absolute;
    top: 20px;
    left: 300px;
}