* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}

/* =====================Side navigation Bar========================= */


.Administrator {

  width: 83.7%;
  height: 70px;
  position: absolute;
  left: 250px;
  top: 0;
  background-color: #dcd8d9;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
  justify-content: center;
  font-weight: 700;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 16.4%;
  height: 100%;
  background-image: url("/images/Screenshot\ 2023-10-08\ 023753.png");
  font-family: 'Francois One', sans-serif;
  
}

span .IMAGINE {
  color: aqua;
}

.sidebar header {

  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  /* background: black; */
  user-select: none;
}

.LOGO_ADMIN {
  font-family: 'Courgette', cursive;
}


.sidebar .DATE {
  background: rgba(47, 59, 65, 1);
  line-height: 50px;
}

.sidebar .SUPPORT_STAFF {
  margin-top: 50px;
  margin-bottom: 55px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  line-height: 55px;


}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  margin-bottom: 25px;


}

/* ========Buttons color============= */

.Home {
  background-color: rgba(47, 59, 65, 1);
}

.Feedback {
  background-color: rgba(62, 147, 195, 1);
}

.Season_inquiry {
  background-color: rgba(47, 59, 65, 1);
}

.Users {
  background-color: rgba(47, 59, 65, 1);
}

.News {
  background-color: rgba(47, 59, 65, 1);
}

.Logout {
  background-color: rgba(47, 59, 65, 1);
}
 
table, th, td {  
  border: 1px solid black;  
  border-collapse: collapse;  
  font-size: 25px;
}  
th, td {  
  padding: 10px;  
}
th {
  background-color: rgb(193, 191, 191);  
}  
table#alter tr:nth-child(even) {  
  background-color: #eee;  
}  
table#alter tr:nth-child(odd) {  
  background-color: #fff;  
}  
table#alter th {  
  color: white;  
  background-color: gray;  
}  

.anu-feedbackDeleteBtn {
  background-color: rgb(236, 119, 121);
  font-size: 25px;
  padding: 8px;
  border-radius: 10px;
}
.anu-feedbackUpdateBtn{
  background-color: rgb(119, 119, 236);
  font-size: 25px;
  padding: 8px;
  border-radius: 10px;
}

.anu-feedbackTable
{
  margin-top: 200px;
  margin-left: 600px;
}
/* ========Buttons hover color============= */

.anu-user-info {
  /* text-align: left; */
  width: 1665px;
  margin: 110px 350px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 90px;
  background-color: #3e93c2;
  color: #fafafa;
  padding: 10px;
  font-size: 25px;
}


.sidebar ul li :hover {

  background-color: rgba(62, 147, 195, 1);
}