body {
    font-family: sans-serif;
   
  }


  .anu-user-info {
    text-align: left;
    width: 1580px;
    margin:  150px 350px ;
    margin-bottom: 70px;
    background-color: #3e93c2;
    padding: 10px;
  }
  
  .anu-card1{
    width: 500px;
    margin: 0 10px 25px 0;
    margin-left: 400px;
    background-color: #FF0000;
    color: #fafafa;
    padding: 60px;
  }
  .anu-card2{
    width: 500px;
    margin: 0 10px 30px 0;
    margin-left: 400px;
    background-color: #273746;
    color: #fafafa;
    padding: 60px;
  }
  .anu-card3{
    width: 500px;
    margin: 0 10px 30px 0;
    margin-left: 400px;
    background-color: #FFFF00;
    color: #fafafa;
    padding: 60px;
  }
  .anu-card4{
    width: 500px;
    margin: 0 10px 30px 0;
    margin-left: 300px;
    background-color: #0004ff;
    color: #fafafa;
    padding: 60px;
  }
  .anu-card5{
    width: 500px;
    margin: 0 10px 30px 0;
    margin-left: 300px;
    background-color:  #008000;
    color: #fafafa;
    padding: 60px;
  }
  .anu-left,
.anu-right {
  width: 1000px;
  float: left;
  
 
}/*get cards in left ,right */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}

/* =====================Side navigation Bar========================= */


.Administrator {

  width: 83.7%;
  height: 70px;
  position: absolute;
  left: 250px;
  top: 0;
  background-color: #dcd8d9;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
  justify-content: center;
  font-weight: 700;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 16.4%;
  height: 100%;
  background-image: url("/images/Screenshot_train.png");
  font-family: 'Francois One', sans-serif;

}

span .IMAGINE {
  color: aqua;
}

.sidebar header {

  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  /* background: black; */
  user-select: none;
}

.LOGO_ADMIN {
  font-family: 'Courgette', cursive;
}


.sidebar .DATE {
  background: rgba(47, 59, 65, 1);
  line-height: 50px;
}

.sidebar .SUPPORT_STAFF {
  margin-top: 50px;
  margin-bottom: 55px;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  line-height: 55px;


}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  margin-bottom: 25px;


}

/* ========Buttons color============= */

.Home {
  background-color: rgba(62, 147, 195, 1);
}

.Feedback {
  background-color: rgba(47, 59, 65, 1);
}

.Season_inquiry {
  background-color: rgba(47, 59, 65, 1);
}

.Users {
  background-color: rgba(47, 59, 65, 1);
}

.News {
  background-color: rgba(47, 59, 65, 1);
}

.Logout {
  background-color: rgba(47, 59, 65, 1);
}


/* ========Buttons hover color============= */




.sidebar ul li :hover {

  background-color: rgba(62, 147, 195, 1);
}